future 

pydantic==2.8.2
pydantic_core==2.20.1

fastapi==0.112.1
fastapi-cli==0.0.5
fastjsonschema==2.20.0

python-multipart==0.0.9

sqlmodel==0.0.21
SQLAlchemy==2.0.32
sqlite-utils==3.37

python-dateutil==2.8.2

requests

python-redmine
cryptography==42.0.8

papermill==2.3.4
nbconvert==6.5.0

pydocmaker>=1.4.3

pytest

ipython
psutil

# numpy
# pandas

pyncclient
cryptography
xmltodict

numpy
matplotlib
pandas

redis

sse-starlette