

{% extends "base.html" %}

{% block metatags %}
<title>JupyRunner WebUI - User Feedback</title>
<meta name="DESCRIPTION" content="JupyRunner webui user feedback">


{% endblock %}


{% block content %}



<div style="margin-left: 10px; margin-right: 10px;">
    
    <div class="accordion">              
        <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
                
                <span class="input-group-text" style="min-width: 180px;">Quick Add Script To Run Now:</span>
                <span class="input-group-text" style="min-width: 180px;"><b>script_in_path</b></span>
            </div>
            <select class="custom-select" id="intr-inp-newex-pthin">

            </select>
            <div class="input-group-prepend">
                <span class="input-group-text" style="min-width: 180px;"><b>device_id</b></span>
            </div>
            <select class="custom-select" id="intr-inp-newex-device" aria-placeholder="e.G: RxS001">

            </select>
            <button class="btn btn-warning ml-2" type="button" id="intr-btn-newex-commit-provider" style="min-width: 80px;">COMMIT</button>
            <button class="btn btn-secondary ml-2" type="button" id="intr-btn-globals-reload" style="min-width: 80px;">RELOAD</button>
            <button class="btn btn-info ml-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Show/Hide Params
            </button>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="col" id="intr-newex-container">
                <div class="row" style="border-radius: 5px; border: 1px black solid; margin-left: 15px; margin: 10px; padding: 5px;">
                    
                    <!-- <input type="datetime-local"> -->
                        
                    <label for="intr-inp-get-exp-params"></label>
                    <div class="input-group input-group-sm mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="min-width: 180px;"><b>parameters_script_json</b></span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text">Enter below or get params from a previous script by script_id:</span>
                        </div>
                        <input type="number" class="form-control" placeholder="" id="intr-inp-get-exp-params" value="" min="0" step="1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="intr-btn-getlast-exp-params" style="min-width: 80px;">GETLAST ID</button>
                            <button class="btn btn-outline-secondary" type="button" id="intr-btn-get-exp-params" style="min-width: 80px;">GET PARAMS</button>
                        </div>
                    </div>

                    <div class="input-group input-group-sm">
                        <textarea class="form-control" id="intr-inp-newex-params" rows="15" placeholder="{experiment_ids: [171, 172]}" style="font-family: 'Courier New', Courier, monospace; font-size: smaller;"></textarea>
                    </div>
                    <button class="btn btn-dark btn-sm" type="button" id="intr-btn-test-json-params" onclick="testParamsJson()" style="min-width: 80px;">Test Valid JSON Format</button>

                </div>
            </div>
        </div>

    </div>

        

        <h3>User Live Feedback:</h3>
        <small>(for currently active user feedback) | <a href="/scriptlogs_qry">Click here to show the raw server data</a> | <a href="?dummy=1">Click here to show some dummy requests</a> | <span id="last_tick"></span> <span id="last_tick_ago"></span></small>
        <small>
            <div class="form-check">
            <input type="checkbox" class="form-check-input" id="autoRefresh" checked>
            <label class="form-check-label" for="autoRefresh">Auto refresh</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showRunningScripts">
            <label class="form-check-label" for="showRunningScripts">Show only running scripts</label>
          </div>
        </small>
          
        <div id="errorMessage"></div>

        <div class="accordion" id="request_list">

        </div>

        <div id="feedback">
        </div>
</div>
    
<script>
    var request_id = null;
    var request_ids_handled = Array();

    const queryParams = new URLSearchParams(window.location.search);
    const dummyParam = queryParams.get('dummy');
    const replyUrl = '/user_feedback/replyform'
    const qryUrl = '/scriptlogs_qry'

    function formatTimeDiff(timeDiff) {
        const seconds = Math.floor(Math.abs(timeDiff) / 1000);
        const minutes = Math.floor(seconds / 60);
        const hours = Math.floor(minutes / 60);
        const days = Math.floor(hours / 24);

        if (days > 0) {
            return `${days} day${days > 1 ? 's' : ''} ${timeDiff > 0 ? 'from now' : 'ago'}`;
        } else if (hours > 0) {
            return `${hours} hour${hours > 1 ? 's' : ''} ${timeDiff > 0 ? 'from now' : 'ago'}`;
        } else if (minutes > 0) {
            return `${minutes} minute${minutes > 1 ? 's' : ''} ${timeDiff > 0 ? 'from now' : 'ago'}`;
        } else {
            return `${seconds} second${seconds > 1 ? 's' : ''} ${timeDiff > 0 ? 'from now' : 'ago'}`;
        }
    }

    function isEmpty(obj) {
        for (const prop in obj) {
            if (Object.hasOwn(obj, prop)) {
            return false;
            }
        }
        return true;
    }

    function getScriptUid(scriptInfo) {
        return scriptInfo.script_uid ? scriptInfo.script_uid : 'loose_request_' + scriptInfo.id;
    }

    function handleFeedback(resp) {
        
        const frame = document.getElementById(`${resp.id}_frame`);
        color = resp.success ? 'success':'warning'
        frame.className = "alert alert-" + color;
        
        const container = document.getElementById(`${resp.id}_container`);
        const r = resp.success ? 'Handled':'Cancelled';
        const dt = new Date().toISOString().replace('T', ' ').split('.')[0] + ' (UTC)';


        container.innerHTML = `<p>
            <strong>Request ${r} by ${resp.client} @${dt}
        </p><p>Feedback from Server:</strong> <span>${resp.feedback}</span></p>`;
        container.style.marginBottom = "2px";
        container.style.marginTop = "22px";
    }

  

    function mkAlert(req, content, color='secondary', other){
        var msg = document.createElement('div');
        msg.classList = "alert alert-" + color;
        msg.id = req.id + '_frame'
        msg.style.paddingTop = '1px';
        msg.style.paddingBottom = '0px';
        msg.style.margin = '3px';
        
        s = new Date(req.timestamp*1000).toISOString().replace('T', ' ').split('.')[0] + ' (UTC)';

        const element = document.createElement('div');       
        element.style.position = "relative" ;
        element.innerHTML = `<small style="position: absolute; top: 1px; right: 1px;"><b>ID:</b> ${req.id} <b>Time:</b> ${s}</small>`;

        msg.appendChild(element);
        if (typeof(content) === 'string') {
            let e = document.createElement('div'); 
            e.innerHTML = content;
            msg.appendChild(e);   
        } else {
            msg.appendChild(content);   
        }

        if (other) {
            msg.appendChild(other);   
        }
             
        return msg;
    }


    
    function showScriptCard(scriptInfo, doShow) {
        try {
            var request_list = document.getElementById('request_list');
            
            if(!scriptInfo || scriptInfo.length < 1 || isEmpty(scriptInfo)){
                return;
            }
            const accordionItems = requestList.querySelectorAll('.accordion-item');
            accordionItems.forEach(item => {
                const collapseElement = item.querySelector('.collapse');
                if (collapseElement.classList.contains('show')) {
                    collapseElement.classList.remove('show');
                }
            });
            const cardUId = getScriptUid(scriptInfo);
            
            const collapseElement = document.getElementById(`${cardUId}_content_div`);
            if (collapseElement.classList.contains('show')) {
                collapseElement.classList.remove('show');
            }
        } catch (error) {
            console.error('ERROR in showScriptCard');
            console.error(error);
        }

    }

    function makeScriptCard(scriptInfo, doShow) {
        
        var request_list = document.getElementById('request_list');
        
        if(!scriptInfo || scriptInfo.length < 1 || isEmpty(scriptInfo)){
            return;
        }
        const cardUId = getScriptUid(scriptInfo);

        var content = '';
        if (scriptInfo.device_id) {
            content += ` <b>Device:</b>: <code>"${scriptInfo.device_id}"</code>`;
        }
        if (scriptInfo.script_id) {
            content += ` <a href="/pprint/script/${scriptInfo.script_id}" target="_blank"<b>Script ID:</b> <code>${scriptInfo.script_id}</code></a>`;
        }
        if (scriptInfo.script_uid && scriptInfo.script_uid != scriptInfo.id) {
            content += ` <b>Script Name:</b>: <code>"${scriptInfo.script_uid}"</code>`;
        }


        // <iframe src="/scriptlogs?id="${scriptLogId}" title="Logs for ${scriptLogId}" frameborder="0" scrolling="auto" style="width: 100%; height: 200px; overflow-y: auto;">
        // </iframe>
        content += `

<div><b>Logs: </b></div>
<div id="${cardUId}_logs" scrolling="auto" style="width: 100%; max-height: 800px; margin-top:5px; overflow-y: auto;border: 1px solid gray; border-radius: 10px;">
</div>`

        const tp = scriptInfo.script_uid ? 'Name' : 'ID';
        const tp2 = scriptInfo.script_uid ? 'Script' : 'Request';
        const card = document.createElement('div');
        
        card.className = "card";
        const s = doShow ? " show" : "";

        card.innerHTML = `<div class="card-header" id="${cardUId}_heading">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#${cardUId}_content_div" aria-expanded="true" aria-controls="collapseOne">
            <span><b>${tp2} with ${tp}:</b>: ${cardUId}${status}<strong> status=</strong><strong id="${cardUId}_status">"${scriptInfo.script_status}"</strong> <span id="${cardUId}_lastreq_info"></span></span>
        </button>
      </h2>
    </div>

    <div id="${cardUId}_content_div" class="collapse${s}" aria-labelledby="${cardUId}_heading" data-parent="#request_list">
      <div class="card-body">
        <div id="container">
            ${content}
        </div>
        <button onclick="clearScript('${cardUId}', this)" class="btn btn-warning">Clear Script</button>
        <button onclick="saveHtmlElementAsFile('${cardUId}_logs')" class="btn btn-secondary">Save This Output</button>
      </div>
      
    </div>`;
        

        request_list.appendChild(card);
        return cardUId;
    }
    
    function handleServerInput(data, isNewest) {
        
        const scriptUid = getScriptUid(data);
        const el = document.getElementById(`${scriptUid}_logs`);
        console.log(data, el);
        if (!el) {
            if(isNewest) {
                var requestList = document.getElementById('request_list');
                const accordionItems = requestList.querySelectorAll('.accordion-item');
                accordionItems.forEach(item => {
                    const collapseElement = item.querySelector('.collapse');
                    if (collapseElement.classList.contains('show')) {
                        collapseElement.classList.remove('show');
                    }
                });
            }
            makeScriptCard(data, isNewest);
        }  else if (isNewest) {
            showScriptCard(data, isNewest);
        }
        
        const statusEl = document.getElementById(`${scriptUid}_status`);
        if (data.hasOwnProperty("script_state") && !isEmpty(data.script_state)) {
            
            statusEl.innerText = data.script_state;
            if ("FAILED CANCELLED STATUS.ABORTED FAULTY".split(' ').includes(data.script_state)) {
                statusEl.style.color = 'red';
            } else if (data.script_state == "FINISHED") {
                statusEl.style.color = 'green';
            } else {
                statusEl.style.color = 'blue';
            }
        } else {
            statusEl.innerText = '<unknown>';
            statusEl.style.color = 'gray';
        }
        

        const logs = document.getElementById(`${scriptUid}_logs`);
        if (logs) {
            if (data.request_type === 'info' || data.handled === 1) {
                logs.appendChild(createInfoLog(data));
                logs.scrollTop = logs.scrollHeight;
            } else {
                logs.appendChild(createForm(data));
                logs.scrollTop = logs.scrollHeight;
            }

            const lastReq = document.getElementById(`${scriptUid}_lastreq_info`);
            const txt = data.message.length > 30 ? (data.message.substring(0, 30) + '...') : data.message;
            lastReq.innerText = `Last Request: "${data.request_type}" request with Prompt: "${txt}"`;
        }

    }


    function createInfoLog(req) {
        const div = document.createElement('div');
        const p = document.createElement('div');
        p.style.fontFamily = 'monospace';
        var color = 'blue';

        if (req.hasOwnProperty('kwargs') && req.kwargs && req.kwargs.hasOwnProperty('color')) {
            color = req.kwargs.hasOwnProperty('color')
        } else {            
            if (["error", "fail", "invalid"].some(s => req.message.toLowerCase().includes(s))) {
                color = "red";
            } else if (["pass", "ok", "success"].some(s => req.message.toLowerCase().includes(s))) {
                color = "green";
            }
        }

        p.style.color = color;
        s = new Date(req.timestamp*1000).toISOString().replace('T', ' ').split('.')[0] + ' (UTC)';

        p.innerText = `[${req.request_type.toUpperCase()} - ${s}] ${req.message}`;
        div.appendChild(p);
        if (req.hasOwnProperty('kwargs') && req.kwargs && req.kwargs.hasOwnProperty('html')) {
            const sub = document.createElement('div');
            sub.innerHTML = req.kwargs.html;
            div.appendChild(sub);
        }

        return div;
    }

    function createForm(req) {

        let form = document.createElement('form');
        form.id = req.id + '_form';
        form.className = "form-group";
        form.style.marginBottom = "5px";

        var inputTemplate = '';
        var fileTemplate = '';

        if (req.request_type === 'text') {
            inputTemplate = '<input type="text" name="reply" class="form-control" required>';
            fileTemplate = '';
        } else if (req.request_type === 'confirm') {
            inputTemplate = '<input type="text" name="reply" class="form-control" disabled>';
            fileTemplate = '';
        } else if (req.request_type === 'float') {
            inputTemplate = '<input type="number" name="reply" class="form-control" step="any" required>';
            fileTemplate = '';
        } else if (req.request_type === 'int') {
            inputTemplate = '<input type="number" name="reply" class="form-control" step=1 required>';
            fileTemplate = '';
        } else if (req.request_type === 'file') {
            inputTemplate = '';
            fileTemplate = '<input type="file" name="fls" class="form-control">';
        } else if (req.request_type === 'files') {
            inputTemplate = '';
            fileTemplate = '<input type="file" name="fls" class="form-control" multiple>';
        } else if (req.request_type === 'pictures') {
            inputTemplate = '';
            fileTemplate = '<input type="file" name="fls" class="form-control" accept="image/*" multiple>';
        } else if (req.request_type === 'picture') {
            inputTemplate = '';
            fileTemplate = '<input type="file" name="fls" class="form-control" accept="image/*">';
        } else {
            throw new Error(`Unknown request_type! "${req.request_type}" allowed are confirm file files picture pictures text int float`);
        }

        form.innerHTML = `
            <b margin-top: 2px; margin-bottom:2px;>Prompt: </b>
            <label style="margin-top: 2px; margin-bottom:2px;"><span>${req.message}</span></label>
            <div class="input-group input-group-sm" style="margin-bottom: 1px;">    
                <div class="input-group-prepend">
                    <span class="input-group-text" style="min-width: 150px"><b>"${req.request_type}" Request:</b></span>
                </div>

                ${inputTemplate}
                ${fileTemplate}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" value="ok">OK</button>
                    <button type="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                </div>
            </div>
    `;

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            
            let input = this.querySelector('input[name="reply"]');
            
            let files = this.querySelector('input[name="fls"]');
            
            const success = event.submitter.value === 'ok' ? "1" : "";
            let data = new FormData();
            var message = 'empty';
            if (success && inputTemplate) {
                message = input.value ;
            } else if (success) {
                message = 'ok';
            } else {
                message = 'Cancelled by user';
            }

            if (fileTemplate && success && isEmpty(files)) {
                alert('Need to select some files to upload!');
                return;
            }

            console.log(request_id, success, message);

            data.append('success', success);
            data.append('message', message);
            data.append('id', req.id);
            data.append('response_type', req.request_type);
            if (!isEmpty(files)) {
                for (let i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
                }
            }
            console.log(data);
            fetch(replyUrl, {
                method: 'POST',
                body: data
            })
            .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
            })
            .then(resp => {
                console.log(resp);
                handleFeedback(resp);
            })
            .catch(error => {
                console.error(error)
                document.getElementById('errorMessage').appendChild(mkAlert(req, 'There was an error uploading the data: ' + error.message, color='danger'));
            });
        });
        div = document.createElement('div');
        div.id = req.id + '_container';
        div.appendChild(form);
        
        var sub = null;
        if (req.hasOwnProperty('kwargs') && req.kwargs && req.kwargs.hasOwnProperty('html')) {
            sub = document.createElement('div');
            sub.innerHTML = req.kwargs.html;
        }

        return mkAlert(req, div, color='primary', other=sub);
    }



    async function clearScript(scriptUid, button) {
        const confirmClear = confirm(`Are you sure you want to clear the script with UID: ${scriptUid}?`);
        if (!confirmClear) {
            return;
        }

        const url = new URL('/user_feedback/remove_script', window.location.origin);
        url.searchParams.append('script_uid', scriptUid);

        const response = await fetch(url, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            }
        });

        if (!response.ok) {
            let errorMessage = 'An error occurred while clearing the script.';
            if (response.status === 404) {
            errorMessage = `The script with UID: ${scriptUid} was not found.`;
            } else if (response.status === 403) {
            errorMessage = 'You do not have permission to clear this script.';
            } else if (response.status === 500) {
            const error = await response.json();
            errorMessage = `An internal server error occurred: ${error.message}`;
            }
            alert(errorMessage);
            return;
        }

        const feedback = await response.json();
        const feedbackElement = document.getElementById(`${scriptUid}_logs`);
        div = document.createElement('div');
        div.innerHTML = `<p>Script ${scriptUid} Successfully Cleared: N=${feedback.reqs} requests removed and N=${feedback.replied} answers removed on the server. Reload page if you want to remove this script from view...</p>`;
        feedbackElement.appendChild(div);

        button.disabled = true;
    }

    async function getParams(script_in_path) {
            return await queryAPI('/repo/get/params', {script_name:script_in_path});
    }


    async function queryAPI(endpoint, kwargs) {
        var url = endpoint;
        if (kwargs) {
            const urlParams = new URLSearchParams(kwargs);
            url = `${endpoint}?${urlParams}`;
        }

        console.log(`querying ${url}`);

        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw `response for ${url} is not OK!`;
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error fetching data:', error);
            throw error; 
        }
    }
    function addOptionsToSelect(selectId, optionsList, valueList) {
        for (let i = 0; i < optionsList.length; i++) {
            $(`#${selectId}`).append('<option value="'+valueList[i]+'">'+optionsList[i]+'</option>');
        }
    }

    async function getRepo(){
        return await queryAPI('/repo/get/all');
    // files_repo = list(set(list(files_repo_dc.keys())))
    }

    async function getDeviceIds(){
        return await queryAPI('/qry/ids/device');
    // files_repo = list(set(list(files_repo_dc.keys())))
    }
    
    async function reload_globals(giveFeedback) {
        try {
            files_repo_dc = await getRepo();
            var files_repo = Object.keys(files_repo_dc);
            document.getElementById('intr-inp-newex-pthin').innerHTML = '';
            addOptionsToSelect('intr-inp-newex-pthin', files_repo, files_repo);
            
            var deviceIds = await getDeviceIds();
            document.getElementById('intr-inp-newex-device').innerHTML = '';
            addOptionsToSelect('intr-inp-newex-device', deviceIds, deviceIds);

            if (giveFeedback) {
                alert('reload_globals --> success');
            }
            

        } catch (error) {
            let s = `reload_globals --> ERROR: ` + error;
            alert(s);
        }
    }

    async function getParamsFromOtherEid(params_prev, sid_proto) {
        // Remove leading and trailing whitespace from each line and join them
        params_prev = params_prev.split('\n').map(s => s.trim()).join('');

        // Remove trailing ",}" if present
        if (params_prev.endsWith(',}')) {
            params_prev = params_prev.slice(0, -2) + '}';
        }

        const p = params_prev ? params_prev : '{}';
        // Parse JSON string into JavaScript object
        const dc_params = JSON.parse(p);

        // If eid_prototype is provided, fetch the prototype and merge parameters
        if (sid_proto) {
            exp = await queryAPI(`/script/${sid_proto}`);
            console.log(exp);
            const params_dc_proto = JSON.parse(exp['script_params_json']);
            for (const k in dc_params) {
                if (k in params_dc_proto) {
                    dc_params[k] = params_dc_proto[k];
                }
            }
            alert(`Success: merged results from ID=${sid_proto}`);
        }
        return dc_params;
    }

    function testParamsJson() {
        try {
            const sp = document.getElementById('intr-inp-newex-params').value;
            if (sp) {
                const params = JSON.parse(document.getElementById('intr-inp-newex-params').value);   
                alert('SUCCESS: provided params are valid JSON');
            } 
            alert('FAIL --> Nothing in text field to test!');
            
        } catch (error) {
            s = 'ERROR: The given input for "parameters_script_json" is not in valid json format!';
            alert(s);
        }
    }

    document.getElementById('intr-inp-newex-pthin').addEventListener('change', async () => {
            try {
                const script_in_path = document.getElementById('intr-inp-newex-pthin').value;
                const params = await getParams(script_in_path);
                document.getElementById('intr-inp-newex-params').value = JSON.stringify(params, null, 2);
                console.log(`SUCCESS: updated params from "${script_in_path}"`)
            } catch (error) {
                let s = `ERROR while getting params!`;
                alert(s);
            }
        });

    document.getElementById('intr-btn-getlast-exp-params').addEventListener('click', async () => {
            try {
                const pth_in = document.getElementById('intr-inp-newex-pthin').value;
                var p = pth_in.replace(/^.*[\\/]/, '')
                const where_s = `script_in_path LIKE '%${p}%' ORDER BY start_condition DESC`;
                const input_kwargs = {script_in_path:p, limit:1}
                const results = await queryAPI('/qry/script', input_kwargs);
                const result_element = results.length > 0 ? results[0] : null;
                const ID = result_element != null ? result_element.id : '';
                document.getElementById('intr-inp-get-exp-params').value = ID;
                alert(`SUCCESS: Got parameters from last script ID="${ID}"`);
            } catch (error) {
                let s = `ERROR: while getting params from other experiment`;
                alert(s);
            }
        });

    document.getElementById('intr-btn-getlast-exp-params').addEventListener('click', async () => {
        try {
            const pth_in = document.getElementById('intr-inp-newex-pthin').value;
            var p = pth_in.replace(/^.*[\\/]/, '')
            const where_s = `script_in_path LIKE '%${p}%' ORDER BY start_condition DESC`;
            const input_kwargs = {script_in_path:p, limit:1}
            const results = await queryAPI('/qry/script', input_kwargs);
            const result_element = results.length > 0 ? results[0] : null;
            const ID = result_element != null ? result_element.id : '';
            document.getElementById('intr-inp-get-exp-params').value = ID;
            alert(`got parameters from last script ID="${ID}"`);
        } catch (error) {
            let s = `ERROR while getting params from other experiment`;
            alert(s);
        }
    });

    document.getElementById('intr-btn-globals-reload').addEventListener('click', async () => {
            reload_globals(1);
        });


    async function upload() {
        try { 
            const sp = document.getElementById('intr-inp-newex-params').value;

            const script_in_path = document.getElementById('intr-inp-newex-pthin').value;
            const device_id = document.getElementById('intr-inp-newex-device').value;
            const params = JSON.parse(sp ? sp : '{}');  

            var kwargs = {'script_in_path': script_in_path}

            if (device_id) {
                kwargs['device_id'] = device_id;
            }
            if (params) {
                kwargs['script_params_json'] = params;
            }

            const inp = `\n\nscript=${script_in_path}\n\ndevice_id=${device_id}`;

            // Prepare the PATCH request
            fetch('/action/script/run', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(kwargs)
            })
            .then(response => {
                if (!response.ok) {
                    console.error(response);
                }
                return response.json()
            })
            .then(result => {
                alert(result.color + '\n Commit new Script : ' + inp + '\n-->' + result.info);
                console.log('Commit Result', result);
            })
            .catch(error => {
                let s = 'Commit new Script : ' + inp + '\n-->' + `ERROR while uploading: ${error}`;
                alert(s);
                console.error(s, error);
            });

        } catch (error) {
            let s = `ERROR while uploading: ${error}`;
            alert(s);
            console.error(s, error);
        }
    
    }
    
    document.getElementById('intr-btn-newex-commit-provider').addEventListener('click', async () => {
        await upload();
    });

    function sanitizeFilename(filename) {
        // Remove leading/trailing whitespace
        filename = filename.trim();

        // Replace invalid characters with underscores
        filename = filename.replace(/[<>:"/\\|?*\x00-\x1F]/g, "_");

        // Limit the filename length to 255 characters
        filename = filename.substring(0, 255);

        // Remove trailing periods and whitespace
        filename = filename.replace(/\.+$/, "").trim();

        // If the filename is empty, use a default name
        if (filename === "") {
            filename = "file";
        }
        return filename;
    }

    function saveHtmlElementAsFile(elementId) {
        // Get the HTML element by its ID
        const element = document.getElementById(elementId);

        // If the element does not exist, log an error message and return
        if (!element) {
            alert(`ERROR: Element with ID "${elementId}" does not exist`);
            return;
        }

        // Create a Blob object from the HTML content
        const blob = new Blob([element.innerHTML], { type: "text/html" });

        // Create a URL for the Blob object
        const url = URL.createObjectURL(blob);

        // Create a temporary link element to trigger the save file dialog
        const link = document.createElement("a");
        link.href = url;
        link.download = elementId + ".html";
        link.download = link.download.replace(/\.html_logs$/, "_logs").replace(/\.ipynb_logs$/, "_logs");

        // Add the link element to the document and click it to trigger the save file dialog
        document.body.appendChild(link);
        link.click();
        // Remove the link element from the document and revoke the URL for the Blob object
        document.body.removeChild(link);
        URL.revokeObjectURL(url);
    }


    reload_globals(0);

    let since = null;
    let lastTick = new Date();

    function fetchScriptLogs() {
        if (document.getElementById('autoRefresh').checked) {
            const url = new URL(qryUrl, window.location.origin);
            if (since !== null) {
                url.searchParams.append('since', since);            
            }
            if (dummyParam) {
                url.searchParams.append('dummy', 1);
            }
            if (document.getElementById('showRunningScripts').checked) {
                url.searchParams.append('only_running', 1);
            }            

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let t = -1.0;
                    let maxIndex = -1;

                    for (let i = 0; i < data.length; i++) {
                        if (data[i].timestamp && data[i].timestamp > t) {
                            t = data[i].timestamp;
                            maxIndex = i;
                        }
                    }
                    
                    for (let i = 0; i < data.length; i++) {
                        handleServerInput(data[i], maxIndex===i);
                    }               
                    if (t > 0 ) { since = t; }
                })
                .catch(error => console.error(error));

                lastTick = new Date();
                
        }
        
        s = lastTick.toISOString().replace('T', ' ').split('.')[0] + ' (UTC)';
        document.getElementById('last_tick').innerText = `Last Tick: ${s}`;
        document.getElementById('last_tick_ago').innerText = formatTimeDiff(new Date() - lastTick);

        if (document.getElementById('request_list').childElementCount === 0) {
            document.getElementById('feedback').innerHTML = '<hr><strong>-- Nothing to Show--</strong>';
        } else {
            document.getElementById('feedback').innerHTML = '';
        }
    }

    fetchScriptLogs();
    setInterval(fetchScriptLogs, 2000);

    //fetchRequest();

</script>



{% endblock %}
