    

{% extends "base.html" %}

{% block metatags %}
<title>JupyRunner WebUI - Manual File Upload</title>
<meta name="description" content="JupyRunner script table">
{% endblock %}


{% block content %}

<div>

    
    <!-- The Modal -->
    <form id="loginForm">

        <div id="drop-zone" class="drop-zone" >

            <div>
                <h3 class="modal-title" id="loginModalLabel">JupyRunner WebUI - Manual File Upload</h3>
                <small>(Click "Browse" or Drag and Drop a file here to upload)</small>
            </div>

            
            <input type="file" id="file-input" style="display: none" multiple>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div style="max-width: fit-content; margin-left: auto; margin-right: auto;" class="mb-3">
            <img src="/static/images/minerva.jpg">
        </div>

        <label for="basic-url">Script ID to attach files to:</label>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">id:</span>
        </div>
        <input type="number" id="script_id" placeholder="Script ID" min="0" step="1">
        
        <button type="button" class="btn btn-info" id="btn-openFileDialog" title="Show a open file dialog and select a files from local file system to upload instead">Browse For Files</button>

        </div>

        <div id="loginForm-body" class="m-3">
            <h6>Selected Files</h6>
            <div>
                <ul class="list-group" id="file-list"></ul>
                <button type="button" class="btn btn-warning m-3"  id="upload-button">Upload Selected Files</button>
            </div>
        </div>

        

    </form>


    <div class="container">
        <!-- <div class="input-group input-group-sm mb-3" style="border-radius: 5px; border: 1px black solid; margin-left: 15px; margin: 10px; padding: 5px;">
            <div id="drop-zone">
                <p>Drag and drop files here or click to select.</p>
                
            </div>
        </div> -->
    <hr>
    
    <div class="">
        <div class="row justify-content-md-left m-3" style="width: 100%;">
            <div class="col-md-auto">
                <span id="resultAlert"></span>
            </div>
            <div class="row m-3">
                <h5>Result-JSON:</h5>
            </div>
            <div class="row" style="margin: 10px; border-radius: 5px; border-color: black; border-width: 1px;border-style: solid; ">
                <pre style="padding: 5px;">
                    <code id="resultJson">
                    </code>
                </pre> 
            </div>

        </div>
    </div>

    <hr>
    <div id="wrapper">
        
    </div>
    
</div>

<script type="text/javascript">


var files = [];

const fileInput = document.getElementById('file-input');
const dropArea = document.getElementById('drop-zone');
const uploadButton = document.getElementById('upload-button');
const scriptIdInput = document.getElementById('script_id');

// ... (rest of your JavaScript code)


function formatFileSize(size) {
    const units = ['B', 'KB', 'MB', 'GB', 'TB'];
    let i = 0;
    while (size >= 1024 && i < units.length - 1) {
        size /= 1024;
        i++;
    }
    return `${size.toFixed(2)} ${units[i]}`;
}

function handleFiles(files_local) {
    setAlert(`handlefiles with N=${files_local.length} files`);

    const fileList = document.getElementById('file-list');
    fileList.innerHTML = ''; // Clear previous files

    for (const file of files_local) {
        const listItem = document.createElement('li');
        listItem.className = 'list-group-item';

        const fileIcon = document.createElement('i');
        fileIcon.classList.add('fa', 'fa-paperclip', 'me-2');
        listItem.appendChild(fileIcon);

        const fileName = document.createElement('span');
        fileName.textContent = file.name;
        listItem.appendChild(fileName);

        const fileSize = document.createElement('span');

        fileSize.classList.add('text-muted', 'ms-2');
        fileSize.textContent = formatFileSize(file.size);
        listItem.appendChild(fileSize);
        fileList.appendChild(listItem); 
    }
    
    files = files_local;

    setAlert(`handlefiles with N=${files_local.length} files DONE`);

}

fileInput.addEventListener('change', (e) => {
    handleFiles(e.target.files);
});

document.getElementById('btn-openFileDialog').addEventListener('click', () => {
    fileInput.click();
});



function handleDrop(e) {
    handleFiles(e.dataTransfer.files);
}

dropArea.addEventListener('dragover', preventDefaults);
dropArea.addEventListener('dragenter', highlight);
dropArea.addEventListener('dragleave', unhighlight);
dropArea.addEventListener('drop', handleDrop);

function preventDefaults(e) {
    e.preventDefault();
}

function highlight(e) {
    dropArea.classList.add('hover');
}

function unhighlight(e) {
    dropArea.classList.remove('hover');
}

uploadButton.addEventListener('click', () => {

    setAlert('Upload: entering...');

    const scriptId = scriptIdInput.value;

    if (!scriptId) {
        setAlert('ERROR! Need to give a script ID to attach these files to');
        return;
    }
    if (files.length <= 0) {
        setAlert('ERROR! Need to supply files to upload');
        return;
    }
    setAlert('Upload: starting...');
    if (scriptId && files.length > 0) {
        const formData = new FormData();
        formData.append('script_id', Number(scriptId));

        for (const file of files) {
            formData.append('files', file);
        }
        const url = `/action/script/${scriptId}/upload_data_many_js`;
        setAlert('Upload: Sending to: ' + url);
        // Send a POST request to the API endpoint
        fetch(url, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            setAlert('Upload successful!', 'success', data);
        })
        .catch(error => {
            setAlert('ERROR uploading files:', error);
        });
    } else {
        setAlert('Please enter a script ID and select at least one file.');
    }
});


function matchErrorKeyword(text) {
  const regex = /error/i; // 'i' flag for case-insensitive matching
  return regex.test(text);
}
function matchSuccessKeyword(text) {
  const regex = /success/i; // 'i' flag for case-insensitive matching
  return regex.test(text);
}
function setAlert(s, color=null, resObj=null,) {
    const c = color ? color : (matchErrorKeyword(s) ? 'danger' : (matchSuccessKeyword(s) ? 'success' : 'info'));
    const s2 = new Date().toISOString() + ' | ' + s;

    if (c =="danger") {
        console.error(s);
    } else {
        console.log(s);
    }

    const alertElement = document.createElement('div');
    alertElement.classList.add('alert', `alert-${c}`, 'alert-dismissible', 'fade', 'show');
    alertElement.role = 'alert';
    alertElement.textContent = s2;
    alertElement.style.margin="2px"
    // alertElement.style.maxHeight='22px'
    // alertElement.style.overflowX='auto';
    document.getElementById('resultAlert').innerHTML = '';
    document.getElementById('resultAlert').appendChild(alertElement);

    document.getElementById('resultJson').innerHTML = '';
    if (resObj) {
        document.getElementById('resultJson').innerText = JSON.stringify(resObj, null, 2);
    }
    
    

}

$('#loginModal').modal('show');

</script>
{% endblock %}